body {
    background-color: #dbd9d4;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

nav li{
    list-style: none;
}

nav a {
    margin-top: 30px;
    margin-right: 50px;
}

a:hover, #logo-image:hover {
    cursor: pointer;
}

#logo-image {
    width: 15vw;
}

.nav-left {
    float: left;
}
.nav-right {
    float: right;
}

.clear {
    clear: both;
}

#welcome {
    /* margin-top: 500px; */
    /* margin-bottom: 0; */
    /* margin-left: 100px; */
    width: 1200px;
    font-size: 60px;
    color: #5b3b37;
    font-weight: 600;
    text-transform: uppercase;
    /* width: auto;*/
    text-align: center;
    margin: auto;
}

#text {
    font-size: 22px;
    /* margin-top: 0;
    margin-left: 100px; */
    width: 1200px;
    text-align: justify;
    margin: auto;
}

hr{
    /* margin-left: 100px; */
    width: 1200px;
}


.main-text > p {
    color: #272936;
} 

#logo {
    color: #fff;
    font-size: 30px;
    margin-right: 600px;
}

.nav-icon {
    float: right;
    color: #5b3b37;
    font-size: large;
    margin: 25px;
}