body {
    background-color: #dbd9d4;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    width: 100vw;
}

nav img {
}
nav ul{
    list-style: none;
}

nav li {
    float: right;
}

#logo-image {
    width: 15vw;
    margin: 0;
}

#welcome {
    margin-top: 100px;
    font-size: 70px;
    margin-bottom: 0;
    margin-left: 100px;
    color: #5b3b37;
}

#text {
    font-size: 20px;
    margin-top: 0;
    margin-left: 100px;
    width: 800px;
    text-align: justify;
}

.main-text > hr{
    margin-left: 100px;
    width: 800px;
    
}

.main-text > p {
    color: #272936;
} 

#logo {
    color: #fff;
    font-size: 30px;
    margin-right: 600px;
}

.nav-icon {
    color: #5b3b37;
    font-size: large;
    margin: 25px;
}