* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #dbd9d4;
    font-family: "Montserrat", sans-serif;
}

.c1 {
    color: #C95A3D;
}

.c2 {
    color: #4F3635;
    font-weight: 600;
}

.c3 {
    color: #272835;
}

.c4 {
    color: #9F513A;
}

#navbar {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-item a{
    color: #dbd9d4;
    font-weight: 600;
    letter-spacing: 1px;
}

a:hover, #logo-image:hover {
    cursor: pointer;
}

hr {
    width: 80%;
    margin: auto;
    height: 5px;
}

.main-text > p {
    color: #272936;
    margin: auto;
}

footer > span{
    display: flex;
    justify-content: center;
}

#social{
    display: flex;
    justify-content: center;
}

.social-img { 
    transition: 0.5s ease;
    margin: 10px;
    width: 50px;
}

.social-img:hover {
    width: 60px;
    transition: 0.5s ease;
    opacity: 0.65;
    cursor: pointer;
}

.large-text {
    font-size: 60px;
    color: #272835;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

form {
    border-radius: 20px;
    text-align: center;
    width: 90%;
    padding-top: 30px;
    margin: 50px auto;
    background: #4F3635;
}

form *, select * {
    display: block;
    margin: auto;
}


#country {
    text-align: center;
}

::placeholder {
    text-align: center;
}

#btn {
    border-radius: 20px;
    border: none;
    background-color: #C95A3D;
    text-transform: uppercase;
    font-weight: 600;
    color: #dbd9d4;
    transition: 0.3s;
}

#btn:hover{
    cursor: pointer;
    background-color: #b6391a;
    color: #ffffff;
    transition: 0.3s;
}




/*Extra small devices*/
@media only screen and (max-width: 600px) {
    #menu {
        background: url(../images/icons8-cardápio-24.png) no-repeat center;
        width: 40px;
        height: 40px;
        margin: 20px;
        position: fixed;
        z-index: 2;
    }
    
    #menu:hover {
        rotate: 360deg;
        cursor: pointer;
        transition: 500ms;
    }

    .colapsed {
        background: url(../images/icons8-back-32.png) no-repeat center !important;
    }

    #navbar {
        height: 50%;
        padding-top: 70px;
        position: fixed;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.418);
        border-radius: 0 10px 10px 0;
        z-index: 1;
    }

    #nav-logo-img {
        display: none;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        margin: 20px;
    }



    #logo{
        width: 100%;
    }

    .large-text {
        width: 80%;
    }
    
    form {
        width: 90%;
        height: 700px;
        margin: 50px auto;
    }

    #form-caption {
        font-size: 30px;
        font-weight: bolder;
    }
    
    form label {
        font-size: 17px;
        font-weight: 600;
        margin: 15px 0;
        color: #dbd9d4;
        text-transform: uppercase;
    }
    
    .field {
        width: 80%;
        height: 40px;
        background-color: #cfcfcf;
        margin-bottom: 10px;
        border: none;
        border-radius: 15px;
        padding-left: 15px;
    }


    ::placeholder {
        font-size: 15px;
    }
    
    #message {
        height: 100px;
        resize: none;
    }
    
    #btn {
        margin-top: 30px;
        width: 40%;
        height: 40px;
        font-size: 20px;
    }



}

/*Small devices*/
@media only screen and (min-width: 600px) {
    #menu {
        background: url(../images/icons8-cardápio-24.png) no-repeat center;
        width: 40px;
        height: 40px;
        margin: 20px;
        position: fixed;
        z-index: 2;
    }
    
    #menu:hover {
        rotate: 360deg;
        cursor: pointer;
        transition: 500ms;
    }

    .colapsed {
        background: url(../images/icons8-back-32.png) no-repeat center !important;
    }

    #navbar {
        height: 60%;
        padding-top: 70px;
        position: fixed;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.418);
        border-radius: 0 10px 10px 0;
        z-index: 1;
    }
    #nav-logo-img {
        display: none;
    }
    .nav-item {
        display: flex;
        justify-content: center;
        margin: 80px 20px;
        font-size: 18px;
    }

    .invisible {
        display: none;
    }

    #logo{
        width: 100%;
    }

    .large-text {
        width: 80%;
    }
    
    form {
        width: 80%;
        height: 800px;
        margin: 50px auto;
    }

    #form-caption {
        font-size: 30px;
        font-weight: bolder;
    }
    
    form label {
        font-size: 17px;
        font-weight: 600;
        margin: 15px 0;
        color: #dbd9d4;
        text-transform: uppercase;
    }
    
    .field {
        width: 80%;
        height: 60px;
        background-color: #cfcfcf;
        margin-bottom: 10px;
        border: none;
        border-radius: 15px;
        padding-left: 15px;
        font-size: 18px;
    }


    ::placeholder {
        font-size: 18px;
    }
    
    #message {
        height: 100px;
        resize: none;
    }
    
    #btn {
        margin-top: 30px;
        width: 40%;
        height: 40px;
        font-size: 20px;
    }
}

/*Medium devices*/
@media only screen and (min-width: 768px) {
    #menu {
        background: url(../images/icons8-cardápio-24.png) no-repeat center;
        width: 70px;
        height: 70px;
        margin: 20px;
        position: fixed;
        z-index: 2;
    }
    
    #menu:hover {
        rotate: 360deg;
        cursor: pointer;
        transition: 500ms;
    }

    .colapsed {
        background: url(../images/icons8-back-32.png) no-repeat center !important;
    }

    #navbar {
        height: 60%;
        width: 30%;
        padding-top: 70px;
        position: fixed;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.418);
        border-radius: 0 10px 10px 0;
        z-index: 1;
    }
    
    .nav-item {
        display: flex;
        justify-content: center;
        margin: 80px 20px;
        font-size: 28px;
    }

    .invisible {
        display: none;
    }

    #logo{
        width: 100%;
    }


    .large-text {
        width: 80%;
    }
    
    form {
        width: 600px;
        height: 800px;
        margin: 50px auto;
    }

    #form-caption {
        font-size: 30px;
        font-weight: bolder;
    }
    
    form label {
        font-size: 17px;
        font-weight: 600;
        margin: 15px 0;
        color: #dbd9d4;
        text-transform: uppercase;
    }
    
    .field {
        width: 80%;
        height: 60px;
        background-color: #cfcfcf;
        margin-bottom: 10px;
        border: none;
        border-radius: 15px;
        padding-left: 15px;
        font-size: 18px;
    }


    ::placeholder {
        font-size: 18px;
    }
    
    #message {
        height: 100px;
        resize: none;
    }
    
    #btn {
        margin-top: 30px;
        width: 40%;
        height: 40px;
        font-size: 20px;
    }
}

/*Large devices*/
@media only screen and (min-width: 992px) {
    #menu {
        display: none;
    }

    #navbar {
        height: 10;
        width: 100%;
        padding-top: 0;
        position: relative;
        text-align: center;
        background-color: initial;
        border-radius: 0 0 10px 10px;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #nav-logo-img {
        display: initial;
        width: 250px;
    }

    .nav-item {
        display: inline;
        margin: 0 20px 0px 0;
        font-size: 28px;
    }

    .nav-item a {
        color: #4F3635;
    }



    #logo{
        width: 100%;
        display: none;
    }
}



