* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #dbd9d4;
    font-family: "Montserrat", sans-serif;
}

.c1 {
    color: #C95A3D;
}

.c2 {
    color: #4F3635;
    font-weight: 600;
}

.c3 {
    color: #272835;
}

.c4 {
    color: #9F513A;
}

#navbar {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-item a{
    color: #dbd9d4;
    font-weight: 600;
    letter-spacing: 1px;
}

a:hover, #logo-image:hover {
    cursor: pointer;
}

hr {
    width: 80%;
    margin: auto;
    height: 5px;
}

.main-text > p {
    color: #272936;
    margin: auto;
}

footer > span{
    display: flex;
    justify-content: center;
}

#social-media{
    display: flex;
    justify-content: center;
}

.social-img {
    transition: 0.5s ease;
    margin: 10px;
    width: 50px;
}

.social-img:hover {
    width: 60px;
    transition: 0.5s ease;
    opacity: 0.65;
    cursor: pointer;
}

#bag:hover {
    cursor: pointer;
}

#product-selector {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.product-type {
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background-color: #C95A3D;
    text-transform: uppercase;
    font-weight: 600;
    color: #dbd9d4;
    transition: 0.3s;
}

.product-type:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: #b6391a;
    color: #ffffff;
    width: 120px;
}

#container img {
    border-radius: 10px;
}

#container img:hover {
    border-radius: 10px;
}

#counter {
    font-size: 20px;
    font-weight: 600;
    z-index: 1;
    background-color: #C95A3D;
    color: #fff;
    border-radius: 12px;
    width: 25px;
    position: relative;
    right: 20px;
    top: 10px;
}

.card {
    margin: auto;
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }

  i {
      background-image: url(../images/add-black.png);
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      transition: 0.5s;
  }
  i:hover {
      background-image: url(../images/add-white.png);
  }

  .img-bx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(30px) scale(0.5);
    transform-origin: top;
  }

  .img-bx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
  }

  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .content .detail h2 {
    color: #444;
    font-size: 1.6em;
    font-weight: bolder;
  }

  .content .detail h2 span {
    font-size: 0.7em;
    color: #b6391a;
    font-weight: bold;
  }

  .sci {
    position: relative;
    display: flex;
    margin-top: 5px;
  }

  .sci li {
    list-style: none;
    margin: 4px;
  }

  .sci li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    font-size: 1.5em;
    color: #444;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: 0.5s;
  }

  .sci li a:hover {
    background: #C95A3D;
    color: #fff;
  }

dialog {
    margin: auto;
    width: 1000px;
    height: 800px;
    border: none !important;
    border-radius: 30px;
    transition: 0.5s;
}
dialog:not(:hover) {
    width: 0px;
    height: 0px;
}

#closeBtn {
    margin: 10px 0 0 10px;
    width: 30px;
    transition: 0.5s;
    position: fixed;
}

#closeBtn:hover {
    width: 40px;
    cursor: pointer;
}

dialog > h1 {
    margin: 50px auto;
    text-align: center;
    margin-bottom: 30px;
}

.cartItem {
    padding: 0 30px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.cartItem > img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}



/*Extra small devices*/
@media only screen and (max-width: 600px) {
    #menu {
        background: url(../images/icons8-cardápio-24.png) no-repeat center;
        width: 40px;
        height: 40px;
        margin: 20px;
        position: fixed;
        z-index: 2;
    }

    #menu:hover {
        rotate: 360deg;
        cursor: pointer;
        transition: 500ms;
    }

    .colapsed {
        background: url(../images/icons8-back-32.png) no-repeat center !important;
    }

    #navbar {
        height: 50%;
        padding-top: 70px;
        position: fixed;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.418);
        border-radius: 0 10px 10px 0;
        z-index: 1;
    }

    #nav-logo-img {
        display: none;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .invisible {
        display: none;
    }

    #logo{
        width: 100%;
    }

    #container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 80%;
        margin: 30px auto;

    }

    #counter {
        top: 20px;
        height: 25px;
    }

}

/*Small devices*/
@media only screen and (min-width: 600px) {
    #menu {
        background: url(../images/icons8-cardápio-24.png) no-repeat center;
        width: 40px;
        height: 40px;
        margin: 20px;
        position: fixed;
        z-index: 2;
    }

    #menu:hover {
        rotate: 360deg;
        cursor: pointer;
        transition: 500ms;
    }

    .colapsed {
        background: url(../images/icons8-back-32.png) no-repeat center !important;
    }

    #navbar {
        height: 60%;
        padding-top: 70px;
        position: fixed;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.418);
        border-radius: 0 10px 10px 0;
        z-index: 1;
    }
    #nav-logo-img {
        display: none;
    }
    .nav-item {
        display: flex;
        justify-content: center;
        margin: 80px 20px;
        font-size: 18px;
    }

    .invisible {
        display: none;
    }

    #logo{
        width: 100%;
    }

    #container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        width: 80%;
        margin: 30px auto;

    }
    #container img {
        max-width: 300px;
        border-radius: 10px;
    }

    #counter {
        top: 20px;
        height: 25px;
    }
}

/*Medium devices*/
@media only screen and (min-width: 768px) {
    #menu {
        background: url(../images/icons8-cardápio-24.png) no-repeat center;
        width: 70px;
        height: 70px;
        margin: 20px;
        position: fixed;
        z-index: 2;
    }

    #menu:hover {
        rotate: 360deg;
        cursor: pointer;
        transition: 500ms;
    }

    .colapsed {
        background: url(../images/icons8-back-32.png) no-repeat center !important;
    }

    #navbar {
        height: 60%;
        width: 30%;
        padding-top: 70px;
        position: fixed;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.418);
        border-radius: 0 10px 10px 0;
        z-index: 1;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        margin: 80px 20px;
        font-size: 28px;
    }

    .invisible {
        display: none;
    }

    #logo{
        width: 100%;
    }

    #container img {
        max-width: 350px;
        border-radius: 10px;
    }
    #counter {
        top: 20px;
        height: 25px;
    }
}

/*Large devices*/
@media only screen and (min-width: 992px) {
    #menu {
        display: none;
    }

    #navbar {
        height: 100px;
        width: 100%;
        padding-top: 0;
        position: relative;
        text-align: center;
        background-color: initial;
        border-radius: 0 0 10px 10px;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #nav-logo-img {
        display: initial;
        width: 250px;
    }

    .nav-item {
        display: flex;
        align-items: center;
        margin: 0 20px 0px 0;
        font-size: 28px;
        height: 48px;
    }

    ul {
        display: flex;
        align-items: center;
    }

    .nav-item a {
        color: #4F3635;
    }



    #logo{
        width: 100%;
        display: none;
    }

    #container img {
        max-width: 400px;
    }

    #counter {
        top: 10px;
        height: 25px;
    }
}

/*Extra large devices*/
@media only screen and (min-width: 1200px) {

}
