body {
    background-color: #dbd9d4;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.c1 {
    color: #C95A3D;
}

.c2 {
    color: #4F3635;
    font-weight: 600;
}

.c3 {
    color: #272835;
}

.c4 {
    color: #9F513A;
}



nav li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    
}

nav ul a {
    margin-top: 30px;
    margin-right: 50px;
    color: #4F3635;
    text-decoration: none;
}

a:hover, #logo-image:hover {
    cursor: pointer;
}

#logo-image{
    width: 15vw;
}

.nav-left {
    float: left;
}
.nav-right {
    float: right;
}

.clear {
    clear: both;
}


.large-text {
    width: 1200px;
    font-size: 60px;
    color: #272835;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#clothes-image {
    width: 80%;
    height: 600px;
    object-fit: cover;
    object-position: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 20px;
}

#text {
    font-size: 22px;
    width: 1200px;
    text-align: justify;
    margin: auto;
}

hr{
    width: 1200px;
}

.main-text > p {
    color: #272936;
}

#products-hr {
    width: 510px;
}
.products {
    text-align: center;
    width: 1500px;
    height: 550px;
    display: block;
    margin: 100px auto 0 auto;
    align-items: center;
}

.product {
    width: 300px;
    height: 500px;
    object-fit: cover;
    margin: 0 20px;
    display: inline;
}
.product img {
    transition: 0.5s;
    opacity: 1;
    width: inherit;
    border-radius: 20px;
}

.product:hover img{
    transition: 0.5s;
    opacity: 0.3;
}

